include/config.hpp
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/*
!build/postinst
!build/opendx
build/opendx/*
!build/opendx/usr
.kdev4
*.kdev4
opendx.tar
opendx.deb
.cache